RewriteEngine On
#This is relative to the server root for apache (DUH!)
RewriteBase /

RewriteRule ^dist/ dist.php
RewriteRule ^log/ log.php
RewriteRule ^results/ results.php
RewriteRule ^search/ search.php

ErrorDocument 404 /404.php
